.center {
    text-align: center
}

.color-red {
    color: red
}

.color-green {
    color: green
}

.nd {
    text-decoration: none
}

div {
<<<<<<< HEAD
    font-family: 'Roboto'
}

.pd {
    padding: 16px 20px 16px 20px
}
=======
    font-family: 'Roboto';
    margin: 16px;
}

.bd-1px {
    border: 1px solid #0c0c0c
} 

.radius-5px {
    border-radius: 5px
}

.pd-16px {
    padding: 16px
}

a {
    text-decoration: none;
    font-family: sans-serif;
    padding: 5px 10px
}

.danh-ba:link {
    background: #f1f1f1;
    color: #0c1c1c
}

.danh-ba:visited {
    text-decoration: none;
    font-family: sans-serif;
    padding: 5px 10px;
    background: #f1f1f1;
    color: #0c1c1c
}

.danh-ba:hover {
    text-decoration: underline;
    background: #0c1c1c;
    color: #dad50a
}

.danh-ba:active {
    color: #e86d13;
}

>>>>>>> feature/css
