.center {
    text-align: center
}

.color-red {
    color: red
}

.color-green {
    color: green
}

.nd {
    text-decoration: none
}

div {
    font-family: 'Roboto';
    margin: 16px;
}

.bd-1px {
    border: 1px solid #0c0c0c
} 

.radius-5px {
    border-radius: 5px
}

.pd-16px {
    padding: 16px
}

