body {
    margin: 1px
}

.center {
    text-align: center
}

.color-red {
    color: red
}

.color-green {
    color: green
}

.nd {
    text-decoration: none
}

div {
    font-family: 'Roboto'
}

.pd {
    padding: 16px 20px 16px 20px
}

.bd-1px {
    border: 1px solid #0c0c0c
} 

.radius-5px {
    border-radius: 5px
}

.pd-16px {
    padding: 16px
}

.danh-ba {
    text-decoration: none;
    font-family: sans-serif;
    padding: 5px 10px
}

.danh-ba:link {
    background: #f1f1f1;
    color: #0c1c1c
}

.danh-ba:visited {
    text-decoration: none;
    font-family: sans-serif;
    padding: 5px 10px;
    background: #f1f1f1;
    color: #0c1c1c
}

.danh-ba:hover {
    text-decoration: underline;
    background: #0c1c1c;
    color: #dad50a
}

.danh-ba:active {
    color: #e86d13;
}

.container {
    background: #0c1c1c;
    color: #f1f1f1;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 35px;
}

.item1 {
    background: #f00;
    flex-basis: 100px;
}

.item2 {
    background: #0f0;
    flex-grow: 1
}

.item3 {
    background: #00f;
    flex-basis: 100px
}